html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

a{
    color: inherit;
    text-decoration: none;
}

.clear{
    clear: both;
}

/* responsive img snippet */
img {
    max-width: 100%;
    height: auto;
}


/* -------------------main css--------------------- */

body{
    background: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4em;
    transition: 0.5s all ease;
}


/*     dark setting   */

body.dark, body.dark header, body.dark #playlist, body.dark .wrap, body.dark header a, body.dark .section-title, body.dark h3, body.dark .triangle path{
	background-color: #000;
	color: white;
	transition: 0.5s all ease;
    fill: white;
}

body.dark .ui-accordion-header-active h3{
    color: #1D00FF;
}

body.dark .email{
	background-color: #FFF;
	color: #000;
}

body.dark #header-logo2{
    z-index: 4;
}

body.dark #overlay{
    background-color: rgba(0,0,0,0.8);
}


/*    header       */

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: white;
    line-height: 100px;
    border: 1px solid #707070;
    z-index: 3;
}

header ul{
    float: right;
    margin-right: 135px;
}

header ul li{
    float: left;
}

#header-logo {
	width: 56px;
	margin-top: 20px;
	margin-left: 140px;
	display: block;
	position: absolute;
    z-index: 3;
}

#header-logo2 {
	width: 56px;
	margin-top: 20px;
	margin-left: 140px;
	display: block;
	position: absolute;
}


/*     text    */

header a{
    color: #1D00FF;
    text-transform: uppercase;
    margin-right: 40px;
    margin-left: 40px;
}

h2{
    font-family: 'Playfair Display', serif;
    line-height: 1.4em;
    font-size: 2.65em;
}

li, h3, h4{
    font-weight: bold;
    font-size: 1.125em;
    letter-spacing: 1.5px;
}

h5{
    color: #EBEBEB;
}


/*     top banner    */

.wrap{
    max-width: 1088px;
    margin: 0px auto;
}

#banner{
    height: 600px;
    width: 100%;
    background-image: url(../img/daria-nepriakhina-736026-unsplash@2x.jpg);
    background-size: cover;
    position: relative;
    padding-bottom: 60px;
    z-index: -1;
}

#banner::after{
    content: "";
    position: absolute;
    background: linear-gradient(to right, #1D00FF, #0076FF);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}

#banner-text{
    position: absolute;
    max-width: 1000px;
    color: white;
    margin-top: 140px;
    left: 50%;
    transform: translate(-50%);
}

#banner-text p{
    max-width: 720px;
    margin-top: 30px;
}


/*    playlist accordion    */

#playlist{
    margin-top: -160px;
    margin-bottom: 115px;
    max-width: 1208px;
    background: white; 
    padding-top: 50px;
}

.ui-accordion {
	height: auto;
}

.section-title{
    margin-bottom: 30px;
    color: #1D00FF;
}

#playlist .section-title{
    margin-left: 60px;
}

.ui-accordion-header{
    height: 35px;
    color: #4B4B4B;
    border: 1px solid #EBEBEB;
    padding: 20px;
    cursor: pointer;
}

.ui-accordion-header-active, .ui-state-hover{
    color: #1D00FF;
    border: 2px solid #1D00FF;
}

.ui-accordion-header-active .triangle   {
	transform: rotate(90deg);
} 

#accordion .ui-accordion-header-active .triangle  path {
	fill: #1D00FF;
} 

.left{
    float: left;
}

.triangle{
    float: left;
}

.left h3{
    float: left;
    margin-left: 25px;
    line-height: 35px;
}

.done{
    float: left;
    background-color: #BBFFB2;
    height: 40px;
    max-width: 80px;
    border-radius: 50px;
    margin-top: -2px;
    margin-left: 20px;
    opacity: 0;
}

.done-check{
    height: 25px;
    margin: 7px 22px;
}

.textBtn{
    text-transform: uppercase;
    line-height: 38px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    height: 40px;
    margin-top: -2px;
}

.right{
    float: right;
}

.intro{
    background-color: #FFAFE3;
    width: 115px;
    border-radius: 50px;
    margin-left: 20px;
    color: #CC0085;
    text-align: center;
}

.workshop {
    background-color: #D1E7FF;
    width: 150px;
    border-radius: 20px;
    color: #1D00FF;
    margin-left: 30px;
    float: right;
    text-align: center;
}

.download {
    background-color: black;
    width: 195px;
    color: white;
	text-align: right;
	padding: 0px 20px;
	border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.download-icon {
	margin-top: 8px;
    margin-left: -50px;
    position: absolute;   
}

#playlist h4{
    position: absolute;
    z-index: 2;
    color: white;
    margin-top: 20px;
    margin-left: 25px;
}

.accordion-cont{
    position: relative;
}


/*    player buttons   */

.btn{
    width: 60px;
	height: 60px;
    background-color: white;
	border-radius: 50%;
	border: none;
    position: absolute;
    left: 45%;
    top: 40%;
}

.rewindBtn{
    margin-left: -90px;
    margin-top: 15px;
    opacity: 0;
}

.rewindIcon{
    margin-top: 5px;
    margin-left: 5px;
}

.playBtn{
    width: 90px;
    height: 90px;
    opacity: 0;
}

.playIcon{
    margin: 20px auto;
}

.checkBtn{
    background-color: #BBFFB2;
    margin-left: 120px;
    margin-top: 15px;
    opacity: 0;
}

.checkIcon{
    margin-top: 5px;
    margin-left: 5px;
}

.accordion-cont:hover .rewindBtn{
	opacity: 1;
}

.accordion-cont:hover .playBtn{
	opacity: 1;
}

.accordion-cont:hover .checkBtn{
	opacity: 1;
}


/*    popup & animation     */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  z-index: 4;
}

.modal{
	height: 450px;
	width: 500px;
	background:#BBFFB2;
	position: absolute;
    z-index: 5;
	left: 30%;
	top: 20%;
}

#popup-ani{
    width: 250px;
    height: 250px;
    background-color: white;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: rotate;
    left: 25%;
	top: 20%;
    position: relative;
}

@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#popup-cont{
    position: absolute;
    color: #119100;
    font-size: 1.6em;
    text-align: center;
    line-height: 425px;
    top: 0px;
    margin-left: 80px;
}

.close {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}


/*    video styling    */

.video-js{
    width: 100%;
    height: auto;
}


/*    support team    */

#team{
    margin-top: 75px;
    margin-bottom: 90px;
}

.thumb{
    float: left;
    width: 544px;
    margin-bottom: 60px;
}

.thumb-text{
    float: left;
    text-align: left;
    margin: 45px auto 0px 20px;
}

.thumb-photo{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    object-fit: cover;
    object-position: center;
    float: left;
}

.email{
    width: 115px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    border: none;
    margin: 20px auto 20px 0px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 38px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}


/*    bottom banner     */

#bottom-banner{
    height: 450px;
    width: 100%;
    background-image: url(../img/nicole-wolf-1339717-unsplash@2x.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
}

#bottom-banner::after{
    content: "";
    position: absolute;
    background: linear-gradient(to right, #FFAFE3, #CC0085);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}

#bottom-text h2{
    margin-bottom: 50px;
}

#bottom-text h5{
    color: white;
}

#bottom-text{
    position: absolute;
    max-width: 580px;
    color: white;
    text-align: center;
    margin-top: 65px;
    left: 50%;
    transform: translate(-50%);  
}

#actionBtn{
    background-color: #1D00FF;
    width: 270px;
    height: 58px;
    line-height: 57px;
    color: #FFAFE3;
    margin: 40px auto;
    border-radius: 10px;
    border: none;
    font-size: 1.375em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}


/*   footer   */

footer{
    position: relative;
    height: 125px;
    background-color: black;
}

footer h4{
    color: white;
    float: right;
    line-height: 125px;
    margin-right: 130px;
    text-transform: uppercase;
}

#toggle{
    position: absolute;
    right: 30px;
    bottom: 42px;
    height: 40px;
    width: 80px;
    background-color: #EBEBEB;
    border-radius: 50px;
    cursor: pointer;
}

#sun{
    float: left;
    margin-top: 5px;
    margin-left: 7px;
}

#moon{
    float: right;
    margin-top: 7px;
    margin-right: 7px;
}

#toggleBall{
    position: absolute;
    top: 1px;
    left: 40px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s all ease;
}

#toggleBall.active{
    left: 2px;
}


/*     responsiveness     */

@media only screen and (max-width: 1280px){
    h2{
        font-size: 2.5em;
    }
}


@media only screen and (max-width: 1208px){
    h2{
        font-size: 2.2em;
    }
    #banner{
        height: 550px;
    }
    #playlist{
        max-width: 1100px;
    }
    #accordion{
        max-width: 1000px;
    }
    #bottom-banner{
        height: 400px;
    }
}

@media only screen and (max-width: 1200px){
    body{
        font-size: 0.9em;
    }
    #playlist{
        max-width: 1000px;
        margin: -160px auto 60px;
        padding: 50px;
    }
    #accordion{
        margin: 0px auto;
        margin-bottom: 0px;
    }
    .wrap{
        max-width: 1000px;
    }
    .links, .rechts{
        width: 50%;
    }
    #banner{
        height: 500px;
    }
    .download-icon{
        display: none;
    }
    .textBtn{
        max-width: 100px;
    }
    .download{
        max-width: 150px;
        text-align: center;
    }
}

@media only screen and (max-width: 1100px){
    body{
        font-size: 0.8em;
    }
    #playlist{
        max-width: 800px;
        margin: -160px auto 60px;
        padding: 40px;
    }
    #support{
        max-width: 400px;
    }
    #bottom-banner{
        height: 350px;
    }
    .textBtn{
        font-size: 0.8em;
        max-width: 80px;
    }
    .download{
        max-width: 100px;
        text-align: center;
    }
    .modal{
        left: 25%;
    }
}

@media only screen and (max-width: 880px){
    header ul{
        margin-right: 50px;
    }
    #header-logo, #header-logo2{
        margin-left: 50px;
    }
     h2{
         font-size: 1.8em;
     }
    #support{
        margin-bottom: 10px;
    }
    #accordion{
        max-width: 100%;
    }
     .modal{
        top: 20%;
        left: 20%;
    }
}
    
 @media only screen and (max-width: 768px){
     header ul{
        margin-right: 0%;
    }
    #header-logo, #header-logo2{
        margin-left: 30px;
     }
     .download{
         display: none;
     }
     .modal{
         width: 300px;
         height: 300px;
     }
     #popup-ani{
         width: 150px;
         height: 150px;
     }
     #popup-cont{
         font-size: 1em;
         text-align: center;
         line-height: 275px;
     }
}
     
@media only screen and (max-width: 695px){
    header a{
        margin-right: 20px;
        margin-left: 20px;
    }
    h2{
        font-size: 1.6em;
    }
    #banner-text{
        width: 450px;
        margin: 125px 20px;
    }
    body{
        width: 100%;
    }
    .textBtn{
        display: none;
    }
    .modal{
        left: 25%;
    }
}
     
@media only screen and (max-width: 400px){
    header ul{
        display: none;
    }
    #bottom-banner{
        margin-top: 30px;
    }
    .triangle{
        display: none;
    }
    #banner-text{
        width: 300px;
    }
    #support{
        margin-left: 15px;
    }
    
}




/*
                                           /
                        _,.------....___,.' ',.-.
                     ,-'          _,.--"        |
                   ,'         _.-'              .
                  /   ,     ,'                   `
                 .   /     /                     ``.
                 |  |     .                       \.\
       ____      |___._.  |       __               \ `.
     .'    `---""       ``"-.--"'`  \               .  \
    .  ,            __               `              |   .
    `,'         ,-"'  .               \             |    L
   ,'          '    _.'                -._          /    |
  ,`-.    ,".   `--'                      >.      ,'     |
 . .'\'   `-'       __    ,  ,-.         /  `.__.-      ,'
 ||:, .           ,'  ;  /  / \ `        `.    .      .'/
 j|:D  \          `--'  ' ,'_  . .         `.__, \   , /
/ L:_  |                 .  "' :_;                `.'.'
.    ""'                  """""'                    V
 `.                                 .    `.   _,..  `
   `,_   .    .                _,-'/    .. `,'   __  `
    ) \`._        ___....----"'  ,'   .'  \ |   '  \  .
   /   `. "`-.--"'         _,' ,'     `---' |    `./  |
  .   _  `""'--.._____..--"   ,             '         |
  | ." `. `-.                /-.           /          ,
  | `._.'    `,_            ;  /         ,'          .
 .'          /| `-.        . ,'         ,           ,
 '-.__ __ _,','    '`-..___;-...__   ,.'\ ____.___.'
 `"^--'..'   '-`-^-'"--    `-^-'`.''"""""`.,^.`.--'
*/
